.head{
  text-align: center;
  display: flex;
}

.logo{
  zoom: 0.1;
}

.abai{
  display: flex;
  list-style: none;
  zoom: 1.8;
}

.sec{
  text-align: center;
}

.kaketyan{
  zoom: 0.16;
}

.kakeru{
  display: flex;
 justify-content: center;
}

.sec2{
  text-align:center;
}

.abadango{
  text-align: center;
}

.bicy{
  display: flex;
  list-style: none;
  justify-content: center;
}

.bic1{
  zoom: 0.5 ;
  margin: 20px;
}

.bic2{
  zoom: 0.5;
  margin: 20px;
}

.bic3{
 zoom: 0.5;
 margin: 20px;
}

.ecobuy{
  text-align: center;
}

.tie{
  text-align: center;
}